@model CaffeManagement.Models.Customer.CustomerIndexModel

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Sys Id</th>
            <th>Customer Name</th>
            <th>City</th>
            <th>Contact Number</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customers) {
        <tr>
            <td><img src="@item.ImageUrl" /></td>
            <td><a href="customers/customer/@item.Id">@item.Id</a></td>
            <td>@item.Name</td>
            <td>@item.City</td>
            <td>@item.ContactNumber</td>
        </tr>
}
    </tbody>
</table>
